<%- include('tete'); -%>

<!-- en tete-->
<%- include('header'); -%>
<!-- Slider area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Bibliotheque</h2>
    <ol class="breadcrumb">
        <li><a href="#" class="active">Decouvrez ici nos livres numeriques</a></li>
    </ol>
</section>
    
 <section class="about_us_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Recherchez les livres que vous voulez lire</h2>
        </div>
        <div class="row about_row"> 
                        <div class="col-lg-12 ">
                            <form class="form-inline">
                        <div class="form-group  row  
                           col-xs-9 col-sm-6 col-md-5 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
                            <input type="search" placeholder="Recherchez le livre a lire" style="width: 100%;" id="Email1" class="form-control input-lg">
                        </div>
                        <div class="form-group row col-xs-1 col-sm-4 col-md-3 col-lg-2">
                          <button style="height: 47px;" type="submit" class=" btn btn-primary">Recherche</button>
                        </div>
                    </form>
                    </div>
                    <div class="col-lg-12">
                         <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%; height: 350px;" src="/assets/semantic/images/busi.png" >
                </div>
                <div class="col-lg-12">
                    <a href=""><button style="width: 100%; height: 80px; background: #F6B60B; border-color: #fff; font-size: 25px; color: #fff;">Lire</button></a> 
                </div> 
            </div>
             <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%; height: 350px;" src="/assets/semantic/images/startup.png" >
                </div>
                <div class="col-lg-12">
                    <a href=""><button style="width: 100%; height: 80px; background: #F6B60B; border-color: #fff; font-size: 25px; color: #fff;">Lire</button></a> 
                </div> 
            </div>
             <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%; height: 350px;" src="/assets/semantic/images/candide.jpg" >
                </div>
                <div class="col-lg-12">
                    <a href=""><button style="width: 100%; height: 80px; background: #F6B60B; border-color: #fff; font-size: 25px; color: #fff;">Lire</button></a> 
                </div> 
            </div>
                   <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%; height: 350px;" src="/assets/semantic/images/busi.png" >
                </div>
                <div class="col-lg-12">
                    <a href=""><button style="width: 100%; height: 80px; background: #F6B60B; border-color: #fff; font-size: 25px; color: #fff;">Lire</button></a> 
                </div> 
            </div>
             <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%; height: 350px;" src="/assets/semantic/images/startup.png" >
                </div>
                <div class="col-lg-12">
                    <a href=""><button style="width: 100%; height: 80px; background: #F6B60B; border-color: #fff; font-size: 25px; color: #fff;">Lire</button></a> 
                </div> 
            </div>
             <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%; height: 350px;" src="/assets/semantic/images/candide.jpg" >
                </div>
                <div class="col-lg-12">
                    <a href=""><button style="width: 100%; height: 80px; background: #F6B60B; border-color: #fff; font-size: 25px; color: #fff;">Lire</button></a> 
                </div> 
            </div>
                    </div>
                    
        </div>
    </div>
</section>
<%- include('pied'); -%>
</body>
</html>