<%- include('tete'); -%>
<link rel="stylesheet" type="text/css" href="/assets/semantic/css/jquery-ui.min.css">
<style>
.ui-tabs-nav li > a
{

    width: 100%;
    text-align: center;
    height: 70px;
    font-size: 20px;
    padding-top: 40px;
}
.ui-tabs-nav li
{
    width: 49%;
}
.ui-widget-header
{
    background: #111F29 none repeat scroll 0% 0%;
    color: #1891EC;
    height: 80px; 
    width: 100%;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
border: 1px solid #003eff;
background: #F6B60B;
font-weight: normal;
color: #ffffff;
}


</style>
<!-- en tete-->
<%- include('header'); -%>
<!-- Slider area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Formation disponible</h2>
    <ol class="breadcrumb">
        <li><a href="#" class="active">Decouvrez ici nos differents formation disponible</a></li>
    </ol>
</section>
    <div id="tabs">
<ul>
    <li><a href="#tabs-1">UNIVERSITE</a></li>
    <li><a href="#tabs-2">BTS</a></li>
</ul>
<div id="tabs-1"> <section class="about_us_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Les Formations disponibles en  UNIVERSITE</h2>
        </div>
        <div class="row about_row">
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic7.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Droit</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic6.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Journalisme</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic9.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Genie Civile</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic7.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Genie Informatique</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic8.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Science Miage</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic6.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Science Economique</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
        </div>
    </div>
</section></div>
<div id="tabs-2"><section class="about_us_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Les Formations disponibles en  BTS</h2>
        </div>
        <div class="row about_row">
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic7.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Droit</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic6.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Journalisme</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic9.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Genie Civile</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic7.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Genie Informatique</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic8.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Science Miage</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
            <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-12">
                  <img style="width: 100%;" src="/assets/semantic/images/pic6.jpg" >
                </div>
               <div  class="col-lg-12">
                    <h3>Science Economique</h3>
                </div>
                <div class="col-lg-12">
                    <a href="formationplus.php"><button style="width: 100%; height: 40px; background: #F6B60B; border-color: #fff; font-size: 20px; color: #fff;">Lire plus</button></a> 
                </div>
            </div>
        </div>
    </div>
</section></div>
</div>
<%- include('pied'); -%>
<script src="/assets/semantic/js/jquery-ui.min.js"></script>
     <script>
    $( "#tabs" ).tabs();
    </script>
</body>
</html>