<%- include('tete'); -%>
<%- include('header'); -%>
<!-- Slider area -->
<!-- Slider area -->
<section class="slider_area row m0">
    <div class="slider_inner">
        <div data-thumb="/assets/semantic/images/slider-1.jpg" data-src="/assets/semantic/images/banner3.jpg">
            <div class="camera_caption">
               <div class="container">
                    <h5 class=" wow fadeInUp animated">Bienvenue</h5>
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">Sur la plateforme de Ecole Digital</h3>
                    <p class=" wow fadeInUp animated" data-wow-delay="0.8s">L'Ecole digitale est une ecole qui offre une formation de qualite a vos enfants. </p>
                    <a class=" wow fadeInUp animated" data-wow-delay="1s" href="/contact">Lire plus</a>
               </div>
            </div>
        </div>
        <div data-thumb="/assets/semantic/images/slider-2.jpg" data-src="/assets/semantic/images/bg2.jpg">
            <div class="camera_caption">
                 <div class="container">
                    <h5 class=" wow fadeInUp animated">Bienvenue</h5>
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">SUR LA PLATEFORME DE L ECOLE DIGITALE</h3>
                    <p class=" wow fadeInUp animated" data-wow-delay="0.8s">L'Ecole digitale est une ecole qui offre une formation de qualite a vos enfants. </p>
                    <a class=" wow fadeInUp animated" data-wow-delay="1s" href="/contact">Lire plus</a>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider area -->

<!-- Professional Builde -->
<section class="professional_builder row">
    <div class="container">
       <div class="row builder_all">
            <div class="col-md-4 col-sm-6 builder">
                <a href="/statistique">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <h4>Statistique</h4>
                <p>Decouvrez ici les differentes statistiques de chaque classe lors des dernieres examens</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 builder">
                <a href="/emplois">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <h4>Emplois du Temps </h4>
                <p>Decouvrez ici les emplois du temps de chaque classe</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 builder">
                <a href="/bibliotheque">
                <i class="fa fa-book" aria-hidden="true"></i>
                <h4>Bibliotheque</h4>
                <p>Decouvrez ici notre collections de livres numerique </p>
                </a>
            </div>
       </div>
    </div>
</section>
<!-- End Professional Builde -->

<!-- About Us Area -->
<section class="blog_tow_area">
    <div class="container">
        <div class="row blog_tow_row">
            <h1 style="text-align: center; margin-bottom: 20px;">Les actualites de l'ecole</h1>
            <div class="col-md-4 col-sm-6">
                <a href="/actualite/1">
                <div class="renovation">
                    <img src="/assets/semantic/images/blog/renovation/1.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Debut des examens</a>
                        <p>Les dates des examens ont ete fixe</p>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/actualite/2">
                <div class="renovation">
                    <img src="/assets/semantic/images/blog/renovation/2.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Date de la rentre</a>
                        <p>Les dates de la rentre</p>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/actualite/3">
                <div class="renovation">
                    <img src="/assets/semantic/images/blog/renovation/3.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Debut des Formation</a>
                        <p>La Date des formations fixee</p>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="renovation">
                    <a href="/actualite/4">
                    <img src="/assets/semantic/images/blog/renovation/4.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Cours de ratrapage</a>
                        <p>La date des cours de ratrapages fixe.</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="renovation">
                    <a href="/actualite/5">
                    <img src="/assets/semantic/images/blog/renovation/5.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Competition interuniversitaire</a>
                        <p>Les competition inter-universitaire debute le</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="renovation">
                    <a href="/actualite/6">
                    <img src="/assets/semantic/images/blog/renovation/6.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Competition de Football</a>
                        <p>Les competitions inter-departement .</p>
                    </div>
                </a>
                </div>
            </div>
       </div>
    </div>
</section>
<%- include('pied'); -%>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>