<%- include('tete'); -%>
<link rel="stylesheet" type="text/css" href="/assets/semantic/css/jquery-ui.min.css">
<style>
.ui-tabs-nav li > a
{

    width: 100%;
    text-align: center;
    height: 70px;
    font-size: 20px;
    padding-top: 40px;
}
.ui-tabs-nav li
{
    width: 49%;
}
.ui-widget-header
{
    background: #111F29 none repeat scroll 0% 0%;
    color: #1891EC;
    height: 80px; 
    width: 100%;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
border: 1px solid #003eff;
background: #F6B60B;
font-weight: normal;
color: #ffffff;
}

</style>
<!-- en tete-->
<%- include('header'); -%>
<!-- Slider area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Mensualite</h2>
    <ol class="breadcrumb">
        <li><a href="#" class="active">Information sur les Mensualites</a></li>
    </ol>
</section>
    <div id="tabs">
<ul>
    <li><a href="#tabs-1">COLLEGE</a></li>
    <li><a href="#tabs-2">LYCEE</a></li>
</ul>
<div id="tabs-1"> <section class="about_us_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Les informations sur les modalites de payement</h2>
        </div>
        <div class="row about_row">
            <div class="who_we_area col-md-12 col-sm-12 col-lg-12">
                <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead style="font-size: 20px; text-align: justify;">
                                    <tr style="background-color: #F6B60B; color: #fff">
                                        <th scope="col">Classe</th>
                                        <th scope="col">1er Tranche Octobre,Nov, Dec</th>
                                         <th scope="col">2er Tranche Janvier,Fevr, Mars</th>
                                          <th scope="col">3er Tranche Avril,Mai, Juin</th>
                                          <th scope="col">Cout Annuel</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 20px; text-align: center;">
                                    <tr>
                                        <th scope="row">7e annee</th>
                                        <td>500000fg</td>
                                        <td>500000fg</td>
                                        <td>500000fg</td>
                                        <td>1500000fg</td>
                                    </tr>
                                    <tr><th scope="row">8e annee</th>
                                        <td>500000fg</td>
                                        <td>500000fg</td>
                                        <td>500000fg</td>
                                        <td>1500000fg</td>
                                    </tr>
                                    <tr><th scope="row">9e annee</th>
                                        <td>500000fg</td>
                                        <td>500000fg</td>
                                        <td>500000fg</td>
                                        <td>1500000fg</td>
                                    </tr>
                                    <tr><th scope="row">10e annee</th>
                                        <td>500000fg</td>
                                        <td>500000fg</td>
                                        <td>500000fg</td>
                                        <td>1500000fg</td>
                                    </tr>
                                </tbody>
                            </table>    
                            </div>  
            </div>
        </div>
    </div>
</section></div>
<div id="tabs-2"> <section class="about_us_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Les informations sur les modalites de payement</h2>
        </div>
        <div class="row about_row">
            <div class="who_we_area col-md-12 col-sm-12 col-lg-12">
                <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead style="font-size: 20px; text-align: justify;">
                                    <tr style="background-color: #F6B60B; color: #fff">
                                        <th scope="col">Classe</th>
                                        <th scope="col">1er Tranche Octobre,Nov, Dec</th>
                                         <th scope="col">2er Tranche Janvier,Fevr, Mars</th>
                                          <th scope="col">3er Tranche Avril,Mai, Juin</th>
                                          <th scope="col">Cout Annuel</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 20px; text-align: center;">
                                    <tr>
                                        <th scope="row">11e SM</th>
                                        <td>500000fg</td>
                                        <td>100000fg</td>
                                        <td>500000fg</td>
                                        <td>2000000fg</td>
                                    </tr>
                                    <tr><th scope="row">11e SS</th>
                                        <td>500000fg</td>
                                        <td>100000fg</td>
                                        <td>500000fg</td>
                                        <td>2000000fg</td>
                                    </tr>
                                    <tr><th scope="row">11e SE</th>
                                        <td>500000fg</td>
                                        <td>100000fg</td>
                                        <td>500000fg</td>
                                        <td>2000000fg</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">12e SM</th>
                                        <td>500000fg</td>
                                        <td>100000fg</td>
                                        <td>500000fg</td>
                                        <td>2000000fg</td>
                                    </tr>
                                    <tr><th scope="row">12e SS</th>
                                        <td>500000fg</td>
                                        <td>100000fg</td>
                                        <td>500000fg</td>
                                        <td>2000000fg</td>
                                    </tr>
                                    <tr><th scope="row">12e SE</th>
                                        <td>500000fg</td>
                                        <td>100000fg</td>
                                        <td>500000fg</td>
                                        <td>2000000fg</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">TSM</th>
                                        <td>500000fg</td>
                                        <td>100000fg</td>
                                        <td>500000fg</td>
                                        <td>2000000fg</td>
                                    </tr>
                                    <tr><th scope="row">TSS</th>
                                        <td>500000fg</td>
                                        <td>100000fg</td>
                                        <td>500000fg</td>
                                        <td>2000000fg</td>
                                    </tr>
                                    <tr><th scope="row"> TSE</th>
                                        <td>500000fg</td>
                                        <td>100000fg</td>
                                        <td>500000fg</td>
                                        <td>2000000fg</td>
                                    </tr>
                                </tbody>
                            </table>    
                            </div>  
            </div>
        </div>
    </div>
</section></div>
</div>
<%- include('pied'); -%>
<script src="/assets/semantic/js/jquery-ui.min.js"></script>
     <script>
    $( "#tabs" ).tabs();
    </script>
</body>
</html>