<%- include('tete'); -%>

<!-- en tete-->
<%- include('header'); -%>
<!-- Slider area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Reglement Interieur</h2>
    <ol class="breadcrumb">
        <li><a href="#" class="active">Information sur le reglement interieur</a></li>
    </ol>
</section>
    
 <section class="about_us_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Le Reglement interieur de l'ecole</h2>
        </div>
        <div class="row about_row">
            <div class="who_we_area col-md-7 col-sm-6">
                <ul style="font-size: 25px;">
                    <li>Le port des sandales interdite</li>
                    <li>Le Vernaculaire interdit</li>
                     <li>Le port des sandales interdite</li>
                    <li>Le Vernaculaire interdit</li>
                     <li>Le port des sandales interdite</li>
                    <li>Le Vernaculaire interdit</li>
                     <li>Le port des sandales interdite</li>
                    <li>Le Vernaculaire interdit</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<%- include('pied'); -%>
</body>
</html>