<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ecole Digitale</title>

    <!-- Favicon -->
    <link rel="icon" href="/assets/semantic/images/favicon.png" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link href="/assets/semantic/css/bootstrap.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="/assets/semantic/vendors/animate/animate.css" rel="stylesheet">
    <!-- Icon CSS-->
	<link rel="stylesheet" href="/assets/semantic/vendors/font-awesome/css/font-awesome.min.css">
    <!-- Camera Slider -->
    <link rel="stylesheet" href="/assets/semantic/vendors/camera-slider/camera.css">
    <!-- Owlcarousel CSS-->
	<link rel="stylesheet" type="text/css" href="/assets/semantic/vendors/owl_carousel/owl.carousel.css" media="all">

    <!--Theme Styles CSS-->
	<link rel="stylesheet" type="text/css" href="/assets/semantic/css/style.css" media="all" />