<%- include('tete'); -%>

<!-- en tete-->
<%- include('header'); -%>
<!-- Slider area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Valeur de l'Ecole</h2>
    <ol class="breadcrumb">
        <li><a href="#" class="active">Information sur les valeur de l'ecole</a></li>
    </ol>
</section>
    
 <section class="about_us_area row">
    <div class="container">
        <div class="row about_row">
            <div class=" col-md-12 col-sm-12 col-lg-12">
               <p style="font-size: 20px;">Ecole digitale est ecole qui offre une formation de qualiter a vos enfants.
                Ecole digitale est ecole qui offre une formation de qualiter a vos enfants.Ecole digitale est ecole qui offre une formation de qualiter a vos enfants.Ecole digitale est ecole qui offre une formation de qualiter a vos enfants.
                Ecole digitale est ecole qui offre une formation de qualiter a vos enfants.Ecole digitale est ecole qui offre une formation de qualiter a vos enfants.
                Ecole digitale est ecole qui offre une formation de qualiter a vos enfants.</p>
            </div>
        </div>
    </div>
</section>
  <!-- Our Team Area -->
<section class="our_team_area">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Nos Proffesseurs</h2>
        </div>
        <div class="row team_row">
            <div class="col-md-3 col-sm-6 wow fadeInUp">
               <div class="team_membar">
                    <img src="/assets/semantic/images/team/team1.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Alpha Barry</a>
                        <h6>Foundateur et Directeur</h6>
                    </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
               <div class="team_membar">
                    <img src="/assets/semantic/images/team/team2.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Haba Rabert</a>
                        <h6>Foundateur et Directeur</h6>
                    </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
               <div class="team_membar">
                    <img src="/assets/semantic/images/team/team3.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Alpha Barry</a>
                        <h6>Foundateur et Directeur</h6>
                    </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
               <div class="team_membar">
                    <img src="/assets/semantic/images/team/team4.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Amara Camara</a>
                        <h6>Foundateur et Directeur</h6>
                    </div>
               </div>
            </div>
        </div>
    </div>
</section>

<%- include('pied'); -%>
</body>
</html>