<%- include('../pages/tete'); -%>
<style>
    #activite
    {
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); 
       
        margin-bottom: 40px;
        
    }
</style>
<%- include('header'); -%>

<!-- Slider area -->
<!-- Slider area -->

<!-- End Slider area -->

<!-- Professional Builde -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Actualite de Ecole</h2>
    <ol class="breadcrumb">
        <li><a href="#" class="active">Decouvrez ici les actualites de l'ecole</a></li>
    </ol>
</section>
<section class="blog_tow_area">
    <div class="container">
        <div class="row blog_tow_row">
            <h1 style="text-align: center; margin-bottom: 20px;">Les actualites de l'ecole</h1>
            <div class="col-md-4 col-sm-6">
                <a href="/parents/actualitedetails/1">
                <div class="renovation">
                    <img src="/assets/semantic/images/blog/renovation/1.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Debut des examens</a>
                        <p>Les dates des examens ont ete fixe</p>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/parents/actualitedetails/2">
                <div class="renovation">
                    <img src="/assets/semantic/images/blog/renovation/2.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Date de la rentre</a>
                        <p>Les dates de la rentre</p>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="/parents/actualitedetails/3">
                <div class="renovation">
                    <img src="/assets/semantic/images/blog/renovation/3.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Debut des Formation</a>
                        <p>La Date des formations fixee</p>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="renovation">
                    <a href="/parents/actualitedetails/4">
                    <img src="/assets/semantic/images/blog/renovation/4.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Cours de ratrapage</a>
                        <p>La date des cours de ratrapages fixe.</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="renovation">
                    <a href="/parents/actualitedetails/5">
                    <img src="/assets/semantic/images/blog/renovation/5.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Competition interuniversitaire</a>
                        <p>Les competition inter-universitaire debute le</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="renovation">
                    <a href="/parents/actualitedetails/6">
                    <img src="/assets/semantic/images/blog/renovation/6.jpg" alt="">
                    <div class="renovation_content">
                        <a class="tittle" href="#">Competition de Football</a>
                        <p>Les competitions inter-departement .</p>
                    </div>
                </a>
                </div>
            </div>
       </div>
    </div>
</section>
<!-- End Professional Builde -->

<!-- About Us Area -->

<%- include('../pages/pied'); -%>
</body>
</html>