<%- include('../pages/tete'); -%>
<style>
    #activite
    {
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); 
       
        margin-bottom: 40px;
        
    }
</style>
<%- include('header'); -%>
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Emplois du temps de la classe</h2>
    <ol class="breadcrumb">
        <li><a href="#" class="active">retrouver ici l'emplois du temps de la classe</a></li>
    </ol>
</section>
<!-- Slider area -->
<!-- Slider area -->

<!-- End Slider area -->

<!-- Professional Builde -->
<section class="about_us_area row">
    <div class="container">    
        <div class="tittle wow fadeInUp">
            <h2>Emplois du temps de la classe de 8eme annee</h2>
        </div>
        <div class="row about_row">
            <div class="who_we_area col-md-12 col-sm-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead style="background-color: #F6B60B; color: #fff; font-size: 20px;">
                            <tr class="bg-light-gray">
                                <th class="text-uppercase">Temps
                                </th>
                                <th class="text-uppercase">Lundi</th>
                                <th class="text-uppercase">Mardi</th>
                                <th class="text-uppercase">Mercredi</th>
                                <th class="text-uppercase">Jeudi</th>
                                <th class="text-uppercase">Vendredi</th>
                                <th class="text-uppercase">Samedi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle">09h:00</td>
                                <td>
                                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Mathematique </span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CAMARA Amara</div>
                                </td>
                                <td>
                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Physique</span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CISSE Sekou</div>
                                </td>
    
                                <td>
                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Chimie</span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CISSE Sekou</div>
                                </td>
                                <td>
                                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Francais</span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs KOUROUMA Lamine</div>
                                </td>
                                <td>
                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Chimie</span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CISSE Sekou</div>
                                </td>
                                <td>
                                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Francais</span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs KOUROUMA Lamine</div>
                                </td>
                                
                            </tr>
    
                            <tr>
                                <td class="align-middle">11H:00</td>
                                <td>
                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Histoire</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DOUMBOUYA Fode</div>
                                </td>
                                <td>
                                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Geographie</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DOUMBOUYA Fode</div>
                                </td>
                                <td>
                                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Geographie</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DOUMBOUYA Fode</div>
                                </td>
                                <td>
                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Mathematique</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CAMARA Amara</div>
                                </td>
                                <td>
                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Anglais</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CAMARA Ali</div>
                                </td>
                                <td>
                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Physique</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CISSE Sekou</div>
                                </td>
                            
                            </tr>
    
                            <tr>
                                <td class="align-middle">13H:00</td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                
                            </tr>
                                <td class="align-middle">14H:00</td>
                                <td>
                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Biologie</span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DIALLO Ibrahim</div>
                                </td>
                                <td>
                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Biologie</span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DIALLO Ibrahim</div>
                                </td>
                                <td>
                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Biologie</span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DIALLO Ibrahim</div>
                                </td>
                                <td>
                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Anglais </span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DOUMBOUYA Fode</div>
                                </td> 
                                <td>
                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Mathematique</span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CAMARA Amara</div>
                                </td>
                                <td>
                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Histoire</span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DOUMBOUYA Fode</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
    
    </div>
</section>
<!-- End Professional Builde -->

<!-- About Us Area -->

<%- include('../pages/pied'); -%>
</body>
</html>