<%- include('../pages/tete'); -%>

<style>
   
     @media print {
        #t{
            background-color: #F6B60B; color: #fff; font-size: 20px;
        }
    }
</style>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.20/pdfmake.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.20/vfs_fonts.js'></script>
</head>
<body>   
<section class="about_us_area row">
    <div class="container">    
        <div class="tittle wow fadeInUp">
            <h2>Emplois du temps de la classe de 8eme annee</h2>
        </div>
        <div class="row about_row">
            <div class="who_we_area col-md-12 col-sm-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead id="t" style="background-color: #F6B60B; color: #fff; font-size: 20px;">
                            <tr  class="bg-light-gray">
                                <th class="text-uppercase">Temps
                                </th>
                                <th class="text-uppercase">Lundi</th>
                                <th class="text-uppercase">Mardi</th>
                                <th class="text-uppercase">Mercredi</th>
                                <th class="text-uppercase">Jeudi</th>
                                <th class="text-uppercase">Vendredi</th>
                                <th class="text-uppercase">Samedi</th>
                            </tr>
                        </thead>
                        <tbody style="color: red;"> 
                            <tr>
                                <td class="align-middle">09h:00</td>
                                <td>
                                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Mathematique </span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CAMARA Amara</div>
                                </td>
                                <td>
                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Physique</span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CISSE Sekou</div>
                                </td>
    
                                <td>
                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Chimie</span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CISSE Sekou</div>
                                </td>
                                <td>
                                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Francais</span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs KOUROUMA Lamine</div>
                                </td>
                                <td>
                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Chimie</span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CISSE Sekou</div>
                                </td>
                                <td>
                                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Francais</span>
                                    <div class="margin-10px-top font-size14">9:00-11:00</div>
                                    <div class="font-size13 text-light-gray">Mrs KOUROUMA Lamine</div>
                                </td>
                                
                            </tr>
    
                            <tr>
                                <td class="align-middle">11H:00</td>
                                <td>
                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Histoire</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DOUMBOUYA Fode</div>
                                </td>
                                <td>
                                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Geographie</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DOUMBOUYA Fode</div>
                                </td>
                                <td>
                                    <span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Geographie</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DOUMBOUYA Fode</div>
                                </td>
                                <td>
                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Mathematique</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CAMARA Amara</div>
                                </td>
                                <td>
                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Anglais</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CAMARA Ali</div>
                                </td>
                                <td>
                                    <span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Physique</span>
                                    <div class="margin-10px-top font-size14">11:00-13:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CISSE Sekou</div>
                                </td>
                            
                            </tr>
    
                            <tr>
                                <td class="align-middle">13H:00</td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                <td>
                                    <span class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Pause</span>
                                    <div class="margin-10px-top font-size14">13:00-14:00</div>
                                </td>
                                
                            </tr>
                                <td class="align-middle">14H:00</td>
                                <td>
                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Biologie</span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DIALLO Ibrahim</div>
                                </td>
                                <td>
                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Biologie</span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DIALLO Ibrahim</div>
                                </td>
                                <td>
                                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Biologie</span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DIALLO Ibrahim</div>
                                </td>
                                <td>
                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Anglais </span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs DOUMBOUYA Fode</div>
                                </td> 
                                <td>
                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Mathematique</span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div class="font-size13 text-light-gray">Mrs CAMARA Amara</div>
                                </td>
                                <td>
                                    <span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Histoire</span>
                                    <div class="margin-10px-top font-size14">14:00-18:00</div>
                                    <div id="nn" class="font-size13 text-light-gray">Mrs DOUMBOUYA Fode</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
    
    </div>
</section>

<script type="text/javascript"> 
    function PrintPanel() {
        var panel = document.getElementById("<%=panelprint.ClientID %>");
        var printWindow = window.open('', '', '');
        printWindow.document.write('<html><head><title>Print Invoice</title>');
        
        // Make sure the relative URL to the stylesheet works:
        printWindow.document.write('<base href="' + location.origin + location.pathname + '">');
        
        // Add the stylesheet link and inline styles to the new document:
        printWindow.document.write('<link rel="stylesheet" href="/assets/semantic/css/bootstrap.min.css">');
        printWindow.document.write('<link rel="stylesheet" href="/assets/semantic/vendors/font-awesome/css/font-awesome.min.css">');
        printWindow.document.write('<link rel="stylesheet" href="/assets/semantic/css/style.css">');
        printWindow.document.write('<style type="text/css">.style1{width: 100%;}</style>');
        
        printWindow.document.write('</head><body >');
        printWindow.document.write(panel.innerHTML);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        setTimeout(function () {
            printWindow.print();
        }, 500);
        return false;
    }
  </script>
</body>
</html>