<%- include('../pages/tete'); -%>
<style>
    #activite
    {
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); 
       
        margin-bottom: 40px;
        
    }
</style>
<%- include('header'); -%>
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Situation de payement</h2>
    <ol class="breadcrumb">
        <li><a href="#" class="active">retrouver ici tout les informations concernant les frais de schoolarite payer</a></li>
    </ol>
</section>
<!-- Slider area -->
<!-- Slider area -->

<!-- End Slider area -->

<!-- Professional Builde -->
<section class="about_us_area row">
    <div class="container">    
        <div class="tittle wow fadeInUp">
            <h2>Les informations sur la Situation de payement des frais de schoolarite</h2>
        </div>
        <div class="row about_row">
            <div class="who_we_area col-md-12 col-sm-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead style="font-size: 20px; text-align: justify;">
                            <tr style="background-color: #F6B60B; color: #fff">
                                <th scope="col">Octobre</th>
                                <th scope="col">Novembre </th>
                                 <th scope="col">Decembre</th>
                                  <th scope="col">Janvier</th>
                                  <th scope="col">Fevrier</th>
                                  <th scope="col">Mars</th>
                                  <th scope="col">Avril</th>
                                  <th scope="col">Mai</th>
                                  <th scope="col">Juin</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 20px; text-align: center;">
                            <tr>
                                <td><em style="color: green;">Payé <i class="fa fa-check-square" aria-hidden="true"></i></em></td>
                                <td><em style="color: green;">Payé <i class="fa fa-check-square" aria-hidden="true"></i></em></td>
                                <td><em style="color: green;">Payé <i class="fa fa-check-square" aria-hidden="true"></i></em></td>
                                <td><em style="color: green;">Payé <i class="fa fa-check-square" aria-hidden="true"></i></em></td>
                                <td><em style="color: green;">Payé <i class="fa fa-check-square" aria-hidden="true"></i></em></td>
                                <td><em style="color: green;">Payé <i class="fa fa-check-square" aria-hidden="true"></i></em></td>
                                <td><em style="color: red;">Non Payé <i class="fa fa-window-close" aria-hidden="true"></i></em></td>
                                <td><em style="color: red;">Non Payé <i class="fa fa-window-close" aria-hidden="true"></i></em></td>
                                <td><em style="color: red;">Non Payé <i class="fa fa-window-close" aria-hidden="true"></i></em></td>

                            </tr>
                            </tbody>
                            </table>
                </div>
                </div>
                </div>
    <div class="row">
    <div class="col-lg-4">
    <p style="font-size: 25px; margin-bottom: 20px;">Frais de scholarité : <mark style="color: green;">2000000 fg</mark></p>
    </div>
    <div class="col-lg-4">
        <p style="font-size: 25px; margin-bottom: 20px;">Frais Payé : <mark style="color: #F6B60B;">1500000 fg</mark></p>
        </div>
    <div class="col-lg-4">
        <p style="font-size: 25px; margin-bottom: 20px;">Reste à Payé : <mark style="color: red;">50000 fg</mark></p>
        </div>
    </div>
    </div>
</section>
<!-- End Professional Builde -->

<!-- About Us Area -->

<%- include('../pages/pied'); -%>
</body>
</html>