<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Ecole Digitale Espace Professeur</title>

  <!-- Favicons -->
  <link href="/assets/semantic/profs/img/favicon.png" rel="icon">
  <link href="/assets/semantic/profs/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/assets/semantic/profs/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/assets/semantic/profs/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/assets/semantic/profs/css/style.css" rel="stylesheet">
  <link href="/assets/semantic/profs/css/style-responsive.css" rel="stylesheet">
  <style>
    #notifi{
text-align: left;
font-size: 17px;
margin-top: 5px;
z-index: 100;
padding: 5px;
border-radius: 5px;
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
position: absolute; 
top: 0%;
display: none;
    }
#pasauth
{
  
text-align: left;
font-size: 17px;
margin-top: 5px;
z-index: 100;
padding: 5px;
border-radius: 5px;
color: #856404;
background-color: #fff3cd;
border-color: #ffeeba;
position: absolute; 
top: 0%;
display: none;
}
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <% if(typeof erreur !== "undefined"){ %>
      <div id="notifi" class="col-lg-offset-3   col-md-offset-4 col-sm-11 col-xs-12 col-md-6 col-lg-4 ">
        <ul>
          <% for(var i= 0 ; i < erreur.length; i++)  {%> 
          <li><%= erreur[i].msg %></li>
            <% } %>
          </ul>
      </div>

    </div>
    <% } %>
  </div>
  <div id="login-page">
    
    <div class="container">
      <% if(typeof authentifierreur !== "undefined"){ %>
        <div id="pasauth" class="col-lg-offset-3   col-md-offset-4 col-sm-11 col-xs-12 col-md-6 col-lg-4 ">
          <ul>
          
          <li><%= authentifierreur %></li>
          
          </ul>
        </div>
        <% } %> 
      
      <form class="form-login" method="POST" action="/profs/creation">
        <h2 class="form-login-heading">Inscrivez  vous !</h2>
        <div class="login-wrap">
          <input type="text" name="nom" class="form-control"  placeholder="Votre nom au complet" autofocus>
          <br>
           <input type="tel" name="telephone" class="form-control" placeholder="Votre Numero de Telephone" autofocus>
          <br>
           <input type="number" name="identifiant" class="form-control" placeholder="Votre Identifiant" autofocus>
          <br>
          <input type="password" name="motdepasse" class="form-control" placeholder="Votre Mot de Passe"><br>
           <input type="password" name="motdepasse1" class="form-control" placeholder="Confirmer Votre Mot de Passe" autofocus>
          <br>
          <button class="btn btn-theme btn-block"  type="submit"><i class="fa fa-lock"></i> Inscription</button>
          <hr>
          <div class="registration">
            Vous avez deja un compte?<br/>
            <a class="" href="/proffesseurs">
              Connecter vous
              </a>
          </div>
        </div>
        <!-- Modal -->
         <!--
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot Password ?</h4>
              </div>
              <div class="modal-body">
                <p>Enter your e-mail address below to reset your password.</p>
                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                <button class="btn btn-theme" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>
        modal -->
      </form>
    </div>
  </div>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/assets/semantic/profs/lib/jquery/jquery.min.js"></script>
  <script src="/assets/semantic/profs/lib/bootstrap/js/bootstrap.min.js"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="/assets/semantic/profs/lib/jquery.backstretch.min.js"></script>
  <script>
    $.backstretch("/assets/semantic/profs/img/login-bg.jpg", {
      speed: 500
    });
    '<% if(typeof erreur !== "undefined"){ %>'
                    $("#notifi").css({ 
                      display: 'block'
                    });
                setTimeout(function () {
                    $("#notifi").css({ 
                      display: 'none'
                    });
                  }, 5000)
                    '<% } %> '
    '<% if(typeof authentifierreur !== "undefined"){ %>'
                    $("#pasauth").css({ 
                      display: 'block'
                    });
                setTimeout(function () {
                    $("#pasauth").css({ 
                      display: 'none'
                    });
                  }, 5000)
                    '<% } %> '
  </script>
</body>

</html>
